body {
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
margin: 0px;
padding: 0px;
background: #d1d2d4;
}

header {
 background-color: #404041;
 text-align: center;
}

article {
  box-sizing: border-box;
  margin: 10px;
  padding: 15px;
}

input {
  width: 100%;
}

.title {
 color: #DD1972;
 font-size: 4em;
 font-weight: 700;
 text-transform: uppercase;
 padding: 0;
 margin-bottom: 0;

  /*border: 1px solid red;*/
}
.column {
 background-color: #F7F7F7;
 width: 50%;
 display: inline-block;
 float: left;
 border-right: 2px solid #aaaaaa;
}

.title-guesser {
 font-weight: 300;
}

.subtitle {
 background-color: #404041;
 margin: auto;
 padding-bottom: 20px;
 text-transform: uppercase;
 color: white;
 font-size: 16px;
 width: 280px;
 z-index: 5;
 position: relative;
}

.line {
 width: 550px;
 margin: auto;
 border-top: 2px solid white;
 z-index: 1;
 position: relative;
 bottom: 30px;
}

.range,
.challengers,
.score {
 border: 1px solid #D0D2D3;
 margin-top: 10px;
}

label,
.update {
 display: block;
}

button {
 color: #FFFFFF;
 border-radius: 20px;
 height: 38px;
 text-transform: uppercase;
 font-size: 1em;
 font-weight: bold;
 background-color: #6E6E6E;
}

button:hover {
  background-color: #DD1972;
}

button:disabled {
  background-color: #D0D2D3;
  outline: 0;
  background-color: #D0D2D3;
}

.c1-inputs,
.c2-inputs {
  display: flex;
  flex-direction: row;
}

.name-input {
  flex: 2;
}

.guess-input {
  flex: 1;
}

.input-box {
  width: 100%;
  margin-right: 10px;
}

.box1 {
display: flex;
align-content: flex-end;
justify-content: space-between;

}
.min-range-input,
.max-range-input,
.range-button {
  flex: 1;
  margin: 10px;
  align-self: flex-start;
}
.range-button{
  margin: 31px;
}
.challenger-1-2,
.guess-1-2 {

}

input {
  height: 30px;
}

.box1 input {
  flex: 1;
  width: 100%;
}

.box1 button {
  /*align-self: flex-end;*/
  flex: 3;
  width: 100%;
}

.chall-1-score,
.chall-2-score {
  color: #DD1972;
  font-size: 64px;
  margin: 0;
}

.chall-1-current-score,
.chall-2-current-score {
  width: 48%;
  text-align: center;
}

.chall-2-current-score {
  border-left: 2px solid #D0D2D3;
}

.chall-current-score {
  display: flex;
}

.high,
.low {
 font-weight: bold;
 text-decoration: underline;
}

.command-buttons {
  display: flex;
  justify-content: space-between;
}
.command-buttons button {
  flex: 1;
  margin: 20px 10px 0px 0px;
}
.error-message p{
  color: red;
}

.column2 {
  display: inline-block;
  box-sizing: border-box;
  float: left;
  width: 49%;
  height: 100%;
  background-color: #d1d2d4;
}

.scorecard {
  background-color: white;
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border:  2px solid #aaaaaa;
}

.vs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #D0D2D3;
  width: 95%;
  margin: auto;
}

.winner {
  text-align: center;
  border-bottom: 2px solid #D0D2D3;
  width: 95%;
  margin: 0;
  margin: auto;
}

.winner h1{
  margin-bottom: 0;
}

#winner-light{
  font-weight: 300;
  font-size: 1.7em;
  margin-top: 0;
}

.results {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}


.remove {
  color: #D0D2D3;
  background-color: #6E6E6E;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.1em;
  height: 27px;
  border: none;
  float: right;
}
.removescorecard {
  display: none;}

@media(max-width: 770px) {

/*.box1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}*/
